body {
    text-align: center;
    font-family: sans-serif;
}

.go_back {
    width: 100px;
    height: 40px;

    position: absolute;

    top: 10px;
    left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    color: cyan;

    border: none;
    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    font-size: 16px;

    cursor: pointer;

    transition: 0.2s ease;
}

.go_back:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);

    transform: translateY(-2px);
}

.go_back:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    transform: translateY(1px);
}
#character-heading {
    text-align: center;
    color: purple;
    top: 10px;
    left: 48%;
}

#character-subtitle {
    color: cyan;
}
